.ng-select.custom {
    border:1px solid rgba(0, 0, 0, 0.15);
    height: 38px;
    border-radius: 0.25rem;
    background-color: white;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    font-family: sans-serif;
    
}
::ng-deep .ng-select.custom .ng-dropdown-panel {
    margin-top: 10px;
    left: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
    background-color: #ccc;
  }

  .ag-theme-alpine {
    --ag-cell-horizontal-border: var(--ag-row-border-width)
      var(--ag-row-border-style) var(--ag-row-border-color); /* Add left and right borders to each cell and use row border's properties  */
    --ag-header-column-separator-display: block;
  }

  .error-message{


    color:red
  }