<div class="container">
    <h1 class="mt-3">Edit Customer</h1>
<ng-container  *ngIf="customer">

    <form   #form="ngForm" (ngSubmit)="onFormSubmit()">
        <div class="mt-2 mb-5">
          <div class="mt-3">
            <label for="title" class="form-label">Name</label>
            <input type="text"
            id="name"
            name="name"
            class="form-control"
            [(ngModel)]="customer.name">
          </div>
       
    
          <div class="mt-3">
            <label for="country" class="form-label">Country</label>
            <input type="text"
            id="country"
            name="country"
            class="form-control"
            [(ngModel)]="customer.country">
          </div>
      

          <div class="mt-3">
            <label for="address" class="form-label">Address</label>
            <input type="text"
            id="address"
            name="address"
            class="form-control"
            [(ngModel)]="customer.address">
          </div>
       

          <div class="mt-3">
            <label for="urlHandle" class="form-label">Phone No</label>
            <input type="text"
            id="phoneNo"
            name="phoneNo"
            class="form-control"
            [(ngModel)]="customer.phoneNo">
          </div>
        

          <div class="mt-3">
            <label for="emailID" class="form-label">Email</label>
            <input type="text"
            id="emailID"
            name="emailID"
            class="form-control"
            [(ngModel)]="customer.emailID">
          </div>
        

          <div class="mt-3">
            <button type="submit" class="btn btn-primary" >Save</button>
          </div>








          </div>















          </form>

</ng-container >
 
</div>
